@{
    ViewData["Title"] = "About LeagueDash";
}
<h4>@ViewData["Title"]</h4>

<p>LeagueDash is a back-end capstone project built during my time at Nashville Software School.</p>
<p>The purpose of the application is to assist in organizing a recreational soccer league including team formation,
    game scheduling, and calculating the league standings in real time.</p>
<p>There are three types of users in LeagueDash:</p>
<ol>
    <li>Players</li>
    <li>Captains, and</li>
    <li>The Commissioner (only one)</li>
</ol>
<p>Players have the fewest affordances and can create a profile and view league details. Captains can create, edit and delete a team
    and add or remove players. In addition, Captains can update the final score to games their team played in. Finally,
    the Commissioner has the highest authorization level and can schedule games in addition to removing teams or players from a team's roster.</p>
