@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LeagueDash</h1>
    <p>The recreational soccer league management dashboard</p>
    <img src="~/img/soccer-ball-spinner.png" class="customImageSpinner"/>
</div>
