@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LeagueDash</h1>
    <p>The recreational soccer league organization and management dashboard</p>
</div>
